* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff7ed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 111px;
}

header a {
  text-decoration: none;
  margin: 13px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

header > a.site-logo {
  color: #000000;

  font-weight: 900;
  font-size: 25.35px;
  line-height: 40.27px;
}

nav > a {
  color: #4d4d4d;

  font-weight: 600;
  font-size: 16px;
  line-height: 22.92px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  color: #aaaaaa;
  height: 74px;

  font-weight: 500;
  font-size: 14px;
  line-height: 22.92px;
}

/* Home Page */
.home-container {
  color: #ffffff;
  background: url(./assets/images/homeBackground.png) no-repeat center
    center/cover;
  min-height: 390px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px 25px;
}

.home-container > h2 {
  margin-bottom: 22px;

  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
}

.home-container > p {
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.home-container > a {
  text-align: center;
  color: #ffffff;
  background: #ff8c38;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;

  font-weight: 700;
  font-size: 15.95px;
  line-height: 31.66px;
  transition: transform 0.2s ease-in-out;
}

.home-container > a:hover {
  transform: translate(1px, 1px);
}

/* About Page */
.about-container > img {
  max-width: 100%;
  min-height: 233px;
  margin-bottom: 48px;
}

.about-container > h2 {
  margin: 0 25px;

  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.about-container > p {
  margin: 0 25px;
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.about-container > .link-section {
  background: #ffcc8d;
  margin: 55px 25px;
  padding: 35px;
  border-radius: 5px;
}

.link-section > h3 {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.link-section > a {
  text-decoration: none;
  background: #161616;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 22px;

  transition: transform 0.2s ease-in-out;
}

.link-section > a:hover {
  transform: translate(1px, 1px);
}

/* Vans page */
.vans-container {
  margin: 0 25px;
}

.vans-list {
  margin-top: 55px;
  margin-bottom: 80px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 30px;
}

.vans-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.vans-tile a {
  text-decoration: none;
  color: #161616;
}

.van-info {
  display: flex;
  justify-content: space-between;
}

.van-info > h2 {
  font-weight: 600;
  font-size: 20px;
}

.van-info > p {
  font-weight: 600;
  font-size: 20px;
}

.van-info > p > span {
  font-family: Avenir Next;
  font-weight: 500;
  font-size: 14px;
}

.van-type {
  border-radius: 5px;
  padding: 7px 15px;
  color: #ffead0;
}

.van-type.simple {
  background: #e17654;
}

.van-type.rugged {
  background: #115e59;
}

.van-type.luxury {
  background: #161616;
}

/* Van detail page */
.van-detail-container {
  margin: 0 25px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.van-detail {
  display: flex;
  flex-direction: column;
}

.van-detail > img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 50px;
}

.van-detail > i {
  max-width: 85px;
  color: #ffead0;
  padding: 10px 0;
  border-radius: 5px;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.van-detail.simple {
  background: #e17654;
}

.van-detail.rugged {
  background: #115e59;
}

.van-detail.luxury {
  background: #161616;
}

.van-detail > h2 {
  margin-top: 25px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 32px;
}

.van-detail p.van-price {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
}

p.van-price > span {
  font-weight: 500;
  font-size: 20px;
}

.van-detail > p {
  font-weight: 500;
  font-size: 16px;
}

.van-detail > button {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background: #ff8c38;
  color: #ffffff;
  padding: 10px 0;
  cursor: pointer;

  font-weight: 700;
  font-size: 18px;
}

/* Host page */
.host-nav {
  display: flex;
  margin-bottom: 50px;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: bold;
}

/* HostVans page */
.host-van-container {
  margin-inline: 25px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.host-van-container > h1 {
  margin-bottom: 30px;
}

.host-van-container a {
  text-decoration: none;
}

.host-van {
  display: flex;
  align-items: center;
  justify-items: center;
  max-width: 494px;

  background: #ffffff;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-inline: auto;
}

.host-van img {
  width: 65px;
  height: 65px;
  margin: 20px;
  border-radius: 5px;
}

.host-van h2 {
  color: #161616;

  font-weight: 600;
  font-size: 20px;
}

.host-van p {
  color: #4d4d4d;
}

/* HostVans > Detail page */
section.host-van-detail-section {
  margin-inline: 25px;
  margin-bottom: 40px;
}

.back-button {
  text-decoration: none;
  color: #858585;

  font-size: 25px;
}

.back-button span {
  color: #201f1d;
  font-weight: 500;
  font-size: 15.95px;
}

.back-button span:hover {
  text-decoration: underline;
}

.hostVan-detail-container {
  background: #ffffff;
  margin-top: 40px;
  border-radius: 10px;
  padding-block: 20px;
  padding-left: 20px;
}

.hostVan-detail {
  display: flex;
  gap: 20px;
}

.hostVan-detail > img {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  border-radius: 5px;
}

.hostVan-detail-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hostVan-detail-text h2 {
  margin-top: 15px;

  font-weight: 700;
  font-size: 26.06px;
}

.hostVan-detail-text p {
  font-weight: 700;
  font-size: 19.54px;
}

.hostVan-detail-text p > span {
  font-weight: 500;
  font-size: 16.29px;
}

.host-van-detail-nav {
  margin: 25px 0;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 700;
  padding-right: 40px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: bold;
}

/* HostVans Info */
.host-van-info h3 {
  font-weight: 700;
  font-size: 14px;

  margin-bottom: 15px;
}

.host-van-info span {
  font-weight: 400;
  font-size: 14px;
}

/* HostVans Pricing */
.host-van-pricing p {
  font-weight: 500;
  font-size: 24px;
  color: #161616;
}

.host-van-pricing span {
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
}

/* HostVans Photo */
.host-van-photo img {
  width: 103px;
  border-radius: 5px;
}
